.row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: Calc(var(--s) / 12)
}

$colNr: 0;
@while($colNr <= 12) {
  .s#{$colNr} {
    flex: ($colNr / 12);
  }
  $colNr: $colNr + 1;
}
